{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Tracker - Encontre emails de empresas e organizações</title>

    <link rel="stylesheet" href="{% static 'assets/css/new_style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="{% static 'assets/js/script.js' %}" defer ></script>

</head>
<body>

    <section class="container">
        
        <div class="wrapper">
            
            <div class="title">
                <h1><a  href="/">Email Tracker</a></h1>
                <p>Domínio Descoberto: Encontre E-mails com Facilidade e Precisão</p>
            </div>
            <div class="icon">
                <p><a href="https://www.linkedin.com/in/lucasmarrtt/" target="_blank">Lucas Mart</a></p>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>

            <div class=form>
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="text" name="search" value="{{ search }}" autocomplete="off" placeholder="Digite um domínio. Ex: google.com...">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>

            
        </div>

        {% if search_confirm %}
        <div class="content">
            <div class="content-result">
                <p>Resultado para: {{ domain }}</p>
                <p>Organização: {% if industry == None %} Sem dados da organização {% else %} {{ industry }} {% endif %}</p>
            </div>

            <!-- Loop Here -->
            {% for email in emails %}
            <div class="content-detail">

                <div class="content-detail-p">
                    <p><i class="fa-solid fa-envelope"></i>Email: {{ email.value }}</p>
                    <p><i class="fa-solid fa-layer-group"></i>Tipo: {{ email.type }}</p>
                    <p><i class="fa-solid fa-circle-check" style="color: {% if email.confidence <= 50 %} red; {% elif email.confidence <= 70 %} orange; {% else %} green; {% endif %}"></i>Confiança: {{ email.confidence }}</p>
                </div>

                <div class="content-detail-info">
                    <p>FONTE</p>
                    <hr></hr>

                    <!-- Loop Here -->
                    {% for source in email.sources %}
                        <ul>
                            <li><span>Domínio:</span>{{ source.domain|truncatechars:15 }}</li>
                            <li><span>URL:</span>{{ source.uri|truncatechars:25 }}</li>
                            <li><span>Extraído em:</span>{{ source.extracted_on }}</li>
                            <li><span>Visto por último em:</span>{{ source.last_seen_on }}</li>
                            <li><span>Está na página:</span>{{ source.still_on_page }}</li>
                        </ul>
                    {% endfor %}

                </div>
            </div>
            {% endfor %}

        </div>
        {% endif %}

    </section>

    <button class="chatbot-toggler">
        <span class="material-symbols-outlined">
            chat_bubble
        </span>
        <span class="material-symbols-outlined">
            close
            </span>
    </button>
    <div class="chatbot ">
        <header>
            <h2>Bot Inteligente</h2>
            <span class="material-symbols-outlined">close</span>
        </header>
        <ul class="chatbox">
            <li class="chat incoming">
                <span class="material-symbols-outlined">smart_toy</span>
                <p>Logo estarei disponível, aguarde...</p>
            </li>
            <!--
            <li class="chat outgoing">
                <p>Olá, estou tendo problemas para acessar minha conta. Pode me ajudar?</p>
            </li>
            -->   
        </ul>
        <div class="chat-input">
            <textarea placeholder="enter yout messages" required></textarea>
            <span class="material-symbols-outlined">Send</span>
        </div>
    </div>


    


    <script>
        
        function redirecionar() {
          window.location.href = "{% provider_login_url 'google' %}";
        }
        document.getElementById("meuBotao").addEventListener("click", redirecionar);

    </script>


 
    
</body>
</html>