asgiref==3.7.2
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.2
dacktool==0.0.7
dbstream==0.1.21
defusedxml==0.7.1
Django==3.2
django-allauth==0.54.0
google-api-core==2.11.1
google-api-python-client==1.7.11
google-auth==2.22.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==1.0.0
google-cloud-secret-manager==2.7.2
googleapis-common-protos==1.59.1
googleauthentication==0.0.17
grpc-google-iam-v1==0.12.6
grpcio==1.56.2
httplib2==0.22.0
idna==3.4
libcst==1.0.1
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==23.1
proto-plus==1.22.3
protobuf==4.23.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==2.8.0
pyparsing==3.1.0
python3-openid==3.2.0
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
sqlparse==0.4.4
typing-extensions==4.7.1
typing-inspect==0.9.0
uritemplate==3.0.1
urllib3==1.26.16
