@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/email-tracker.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Mantém o fundo fixo em relação à janela de visualização */
}

.container{
    width: 980px;
    padding: 60px 20px;
    box-sizing: border-box; /* mantem o filho dento das dimenções do pai */
}

.wrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* mantem o filho dento das dimenções do pai */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    color: #fff;
    border-radius: 10px;
}

.title h1{
    text-align: center;
    font-size: 34px;
}

.title p{
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.icon{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon p {
    font-weight: 600;
}

.icon i {
    margin-left: 10px;
    font-size: 22px;
    color: #4f86ec;
}

.form {
    display: flex;
    align-items: center; /* Alinha os elementos verticalmente no centro */
    justify-content: space-between; /* Distribui os elementos com espaço entre eles */
    box-sizing: border-box; /* mantem o filho dento das dimenções do pai */
}

.form form {
    display: flex;
    flex: 1; /* Ocupa todo o espaço disponível na div .form */
}

.form input {
    flex: 1; /* Ocupa todo o espaço disponível dentro do form */
    padding: 0px 5px; /* Apenas para dar algum espaçamento entre o input e o botão */
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 16px;
    color: yellow;
    font-weight: 800;
    height: 45px;
}

#block-form{
    pointer-events: none;

}

.form button {
    margin-left: 5px; /* Algum espaçamento entre o input e o botão */
    width: 80px;
    transition: 0.5s;
    background-color: #4185f4;
    border: none;
    margin-left: 4px;
}

.form button:hover {
    transition: 0.5s;
    background-color: yellow;
    border: none;
    width: 80px;
    margin-left: 4px;
}

.form button i {
    transition: 0.5s;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.form button:hover i {
    transition: 0.5s;
    font-size: 18px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.button-login{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-login button{
    transition: 0.5s;
    background: #4185f4;
    width: 230px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.button-login button:hover{
    transition: 0.5s;
    background: #3e6fca;
    width: 230px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.button-login button i {
    margin-right: 10px;
}

.content{
    margin-top: 60px;
    background: white;
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* mantem o filho dento das dimenções do pai */
}

.content-result{
    margin-bottom: 30px;
    box-sizing: border-box; /* mantem o filho dento das dimenções do pai */
}

.content-detail{
    border-left: 1px solid #000;
    margin: 20px 0;
    background: #e9e9e9a1;
    padding: 20px 10px;
    box-sizing: border-box; /* mantem o filho dento das dimenções do pai */
}

.content-detail-p p{
    margin-bottom: 5px;

}

.content-detail-p p i{
    margin-right: 10px;

}

.content-detail-info p{
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}

.content-detail-info hr{
    margin-bottom: 20px;
}

.content-detail-info ul{
    list-style: none;
    margin-left: 20px;
    margin-bottom: 20px;
}

.content-detail-info ul li {
    margin-bottom: 5px;
}

.content-detail-info ul li span{
    font-weight: 600;
    margin-right: 5px;
}


.chatbot-toggler{
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    color: #000000;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    background: #edbe3b;
    border-radius: 50%;
}

.chatbot-toggler span{
    position: absolute;
}

.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child{
    opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot{
    background-color: #4185f4;
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 420px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
}

.show-chatbot .chatbot{
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.chatbot header{
    background: #4185f4;
    padding: 16px 0;
    text-align: center;
    position: relative;
}

.chatbot header h2{
    color: #fff;
    font-size: 1.4rem
}

.chatbot header span{
    position: absolute;
    right: 20px;
    top: 50%;
    color: #fff;
    cursor: pointer;
    transform: translateY(-50%);
    display: none;
}

.chatbot .chatbox{
    height: 510px;
    overflow-y: auto;
    padding: 30px 20px 70px;
}

.chatbox .chat{
    display: flex;
}

.chatbox .incoming span{
    height: 32px;
    width: 32px;
    color: #fff;
    align-self: flex-end;
    background: black;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}

.chatbox .outgoing{
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbox .chat p {
    color: #fff;
    max-width: 75%;
    font-size: 0.95rem;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    background: #4185f4;
}

.chatbox .incoming p{
    color: #000;
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0;
}

.chatbot .chat-input{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    background: #f2f2f2;
    padding: 5px 20px;
    border-top: 1px solid #ccc;


}

.chat-input textarea{
    height: 55px;
    width: 85%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px; /* Ajuste o último valor de padding aqui */
    box-sizing: border-box; /* Adicione esta linha para incluir o preenchimento na largura total */
}


.chat-input span{
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    color: #724ea8;
    font-size: 1.35rem;
    cursor: pointer;
    padding: 0 10px;
    box-sizing: border-box; /* Adicione esta linha para incluir o preenchimento na largura total */
    visibility: hidden;
}
    
.chat-input textarea:focus + span {
    visibility: visible;
}













/* Media Query */

@media (max-width: 600px){

    .container{
        transition: 0.5s;
        min-width: 300px;
        padding: 20px 20px;
        box-sizing: border-box; /* mantem o filho dento das dimenções do pai */
    }

    .wrapper{
        width: 100%;
        padding: 20px;
        box-sizing: border-box; /* mantem o filho dento das dimenções do pai */
        color: #fff;
        background: none;
        border: none;
    }

    .title h1{
        transition: 0.5s;
        text-align: center;
        font-size: 24px;
    }
  
    .title p{
        transition: 0.5s;
        display: none;
    }

    .icon p{
        transition: 0.5s;
        font-size: 12px;
    }

    .form form {
        display: inline-block;
    }

    .form input {
        padding: 0px 5px; /* Apenas para dar algum espaçamento entre o input e o botão */
        border: none;
        outline: none;
        border: 2px solid rgba(255, 255, 255, .2);
        font-size: 16px;
        color: #fff;
        height: 45px;
        width: 100%;
        box-sizing: border-box;
    }

    .form button {
        transition: 0.5s;
        height: 40px;
        width: 50px;
        transition: 0.5s;
        background-color: #4185f4;
        border: none;
        margin-top: 10px;
        margin-left: -1px;
    }

    .button-login button{
        transition: 0.5s;
        background: #4185f4;
        width: 200px;
        height: 40px;
        border: none;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        color: #fff;

    }

    .button-login button:hover{
        transition: 0.5s;
        background: #3e6fca;
        width: 200px;
        height: 40px;
        border: none;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
    }

    .button-login button i {
        margin-right: 10px;
    }

    .content-detail-p p{
        margin-bottom: 5px;
        font-size: 12px;
    }

    .content-detail-info p {
        font-size: 12px;
    }

    .content-detail-info ul li {
        margin-bottom: 5px;
        font-size: 12px;
    }

}

@media(max-width: 498px){
    .chatbot{
        transition: 0.8s;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .chatbot .chatbox{
        height: 90%;
    }
    .chatbot header span{
        display: block;
    }
}